img {
   width: 25%;
   height: auto;
}

header {
    display: flex;
    flex-direction: row;
}

#addAMealFlex {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

#gridOfDayBoxes {
    display: grid;
}