img {
    float: left;
    width: 5%;
    height: auto;
}

header h1{
    align-content: center;
    margin-left: 7%;
    margin-top: 5%;
}

#addAMealFlex {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

#gridOfDayBoxes {
    display: grid;
}