img {
    float: left;
    width: 5%;
    height: auto;
}

header h1{
    align-content: center;
    margin-left: 7%;
}

#addAMeal {
    padding-top: 2%;
    margin-left:15%;
    margin-right: 15%;
}

#addAMealFlex {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

#gridOfDayBoxes {
    display: grid;
}